body {
	background-color: #272727;
	background-image: url(../images/blue.PNG);
	background-size: 250px 30px;
	background-repeat: repeat-y;
	padding-top: 30px;
	padding-left: 30px;
}

h1 {
	color: #FFFFFF;
	padding: 10px;
}

p {
	color: #AAAAAA;
	text-align: center;
}

table {
	border-color: light-blue;
	padding: 3px;
	border-style: solid;
}

thead {
	color: #FFFFFF;
	outline-color: lime;
	outline-style: solid;
	outline-width: 1px;
}

tbody {
	color: #AAAAAA;
	outline-color: aqua;
	outline-style: solid;
	outline-width: 1px;
}

td {
	outline-color: #888888;
	outline-style: solid;
	outline-width: 1px;
}

li {
	font-size: 10pt;
}

ol {
	color: green;
}

ul{ 
	color: yellow;
}

img {
	outline-color: black;
	outline-style: dashed;
	outline-width: 3px;
	width: 200px;
	
}

a {
	color: #5050FF


}
